<h1>Events</h1>

<ul>
  <% @events.each do |event| %>
    <li>
        <%= link_to event.title, user_event_path(current_user, event.id) %>
    </li>
  <% end %>
</ul>

<%= link_to "New Event", new_user_event_path %>
